<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{equipment.photoUrl || './assets/user.webp'}}" alt="{{equipment.knownAs}}" class="card-img-top">
        <ul class="list-inline equipment-icons animate text-center">
            <li class="list-inline-item"><button routerLink="/equipments/{{equipment.username}}" class="btn btn-primary">
                <i class="fa fa-medkit"></i></button>
            </li>
            <li class="list-inline-item"><button (click)="addLike(equipment)" class="btn btn-primary">
                <i class="fa fa-check"></i></button>
            </li>
            <li class="list-inline-item"><button class="btn btn-primary">
                <i class="fa fa-sticky-note"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-medkit mr-2"></i>
        {{equipment.knownAs}}, {{equipment.age}}
        </h6>
        <p class="card-text text-muted text-center">{{equipment.category}}</p>
    </div>
</div>